*, ::after, ::before {
    box-sizing: border-box;
}

.service_area .single_service .service_icon {
    margin: 50px auto 43px;
    display: inline-block;
}

.service_area .single_service .service_content {
    padding: 30px 50px 50px;
    margin-top: 28px;
    border-top: 1px solid rgba(255,255,255,.15);
}

.boxed-btn3 {
    background: #33d4d6;
    color: #fff;
    display: inline-block;
    padding: 11px 29px 13px;
    font-family: roboto,sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border: 1px solid transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    color: #fff!important;
    text-transform: capitalize;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
}